.root {
	display: flex;
	flex-direction: column;
	width: 300px;
}

.title {
	font-weight: 600;
	font-size: 20px;
	height: 40px;
	line-height: 40px;
}

.box {
	flex-grow: 1;
	border-radius: 5px;
	padding: 15px;
	font-size: 15px;
	background-color: var(--bg3);
}
