.root {
	background-color: var(--section_bg1);
	min-height: 50vh;
	display: flex;
	flex-direction: column;
	border-radius: 5px;
}

.title {
	height: 100px;
	display: flex;
	flex-direction: row;
}

.icon {
	height: 100px;
	width: 100px;
	position: relative;
}

.icon img,
.icon svg {
	max-height: 60%;
	max-width: 60%;
	height: 60%;
	width: 60%;
	position: absolute;
	inset: 0;
	margin: auto;
}

.name {
	height: 100px;
	line-height: 100px;
	font-size: 30px;
}

.main {
	margin-left: var(--root_margin_rl);
	margin-right: var(--root_margin_rl);
	padding: 0 35px 45px 35px;
}

.thumbnail {
	background-color: #fffa;
	border: solid 2px var(--border1);
	border-radius: 5px;
	overflow: hidden;
	position: relative;
	user-select: none;
	height: 240px;
}

.thumbnail_title {
	padding-left: 20px;
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction: row;
	font-size: 20px;
	background-color: var(--thumbnail1);
}

.thumbnail_icon {
	height: 60px;
	width: 60px;
	position: relative;
}

.thumbnail_icon > img {
	width: 45px;
	height: 45px;
	position: absolute;
	inset: 0;
	margin: auto;
}

.thumbnail_name {
	line-height: 60px;
}

.thumbnail_main {
	padding: 15px 20px;
}