#root {
	background-color: var(--bg1);
	color: var(--text1);
	overflow-x: hidden;
}

#top {
	margin-left: var(--root_margin_rl);
	margin-right: var(--root_margin_rl);
	height: 100vh;
}

.header {
	padding-top: 40px;
}

.accounts {
	margin-top: 40px;
}

.cards {
	margin-top: 50px;
}

.works {
	width: 100%;
	height: 600px;
	background-color: var(--section_bg1);
}

.works > div {
	margin-left: var(--root_margin_rl);
	margin-right: var(--root_margin_rl);
}

.link {
	color: var(--link1);
}
