#root {
	overflow-x: hidden;
}

.root {
	background-color: var(--bg1);
	color: var(--text1);
}

#main {
	margin-left: var(--root_margin_rl);
	margin-right: var(--root_margin_rl);
	min-height: 100vh;
}

.article {
	border-radius: 5px;
	padding: 45px 35px;
	min-height: calc(100vh - 160px);
	margin-bottom: 80px;
}

.article2 {
	background-color: var(--bg2);
	border: 1px solid var(--border1);
}