.root {
	margin-left : var(--root_margin_rl);
	margin-right: var(--root_margin_rl);
	margin-top: 50px;
	margin-bottom: 150px;
	display: flex;
	flex-direction: column;
}

.contents {
	margin-top: 15px;
	display: flex;
	flex-direction: row;
	height: 300px;
}
