:root {
    --bg1: #fff5cf;
    --text1: #333;
    --text2: #555;
    --text1_w: #fff;
    --c_thumbnail_bg1: #d2e4e9;
    --c_thumbnail_bg2: #d1d184;
    --c_thumbnail_bg3: #c9e8bf;
    --account_scratch1: #f8aa36;
    --account_scratch2: #fff;
    --account_discord1: #5865f2;
    --account_discord2: #fff;
    --account_github1: #111;
    --account_github2: #fff;
    --account_bluesky1: #fff;
    --account_bluesky2: #333;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg1: hsl(228, 9%, 9%);
        --text1: #333;
        --text2: #555;
        --text1_w: #fff;
        --c_thumbnail_bg1: #d2e4e9;
        --c_thumbnail_bg2: #d1d184;
        --c_thumbnail_bg3: #c9e8bf;
        --account_scratch1: #f8aa36;
        --account_scratch2: #fff;
        --account_discord1: #5865f2;
        --account_discord2: #fff;
        --account_github1: #111;
        --account_github2: #fff;
        --account_bluesky1: #fff;
        --account_bluesky2: #333;
    }
}

:root {
    background-color: var(--bg1);
    color: var(--text1);
}

#main {
    width: 60%;
    margin-left: 20%;
}

#top {
    min-height: 100vh;
}

h1 {
    font-size: 50px;
    font-weight: 800;
    line-height: 120px;
    text-align: center;
    margin-top: 45px;
    margin-bottom: 5px;
}

h1>img {
    height: 120px;
    margin-right: 20px;
}

div.accounts_area {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

div.account {
    height: 60px;
    flex-grow: 4;
    border-radius: 5px;
}

div.account>a {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: relative;
}

div.account_icon {
    height: 60px;
    width: 60px;
    margin-right: 10px;
    position: relative;
}

div.account_icon img {
    max-height: 60%;
    max-width: 60%;
    position: absolute;
    inset: 0;
    margin: auto;
}

div.account_title {
    position: absolute;
    font-size: 16px;
    top: 6px;
    left: 70px;
}

div.account_name {
    position: absolute;
    font-weight: 600;
    font-size: 16px;
    bottom: 12px;
    left: 70px;
}

div.account.scratch {
    background-color: var(--account_scratch1);
    color: var(--account_scratch2);
}

div.account.discord {
    background-color: var(--account_discord1);
    color: var(--account_discord2);
}

div.account.github {
    background-color: var(--account_github1);
    color: var(--account_github2);
}

div.account.bluesky {
    background-color: var(--account_bluesky1);
    color: var(--account_bluesky2);
}

div.cards_area {
    height: 300px;
    display: flex;
    flex-direction: row;
}

div.card {
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

div.card_icon {
    height: 160px;
    max-width: 160px;
    margin-left: calc((100% - 160px) / 2);
}

div.card_icon>svg,
div.card_icon>img {
    height: 100%;
    width: 100%;
}

div.card_title {
    height: 60px;
    line-height: 60px;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
}

div.card_text {
    height: 60px;
    line-height: 60px;
    text-align: center;
    font-size: 16px;
    color: var(--text2);
    font-weight: 500;
}

div.flex_space {
    flex-grow: 1;
}

div.card_coding {
    background-color: var(--c_thumbnail_bg1);
}

div.card_note {
    background-color: var(--c_thumbnail_bg2);
}

div.card_sns {
    background-color: var(--c_thumbnail_bg3);
}

section.coding {}