@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&display=swap');

html,
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 20px;
    color: var(--text-color);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}


:root {
    --text-color: #261f0a;
    --link-color: #4d97ff;
    --link-color-visited: #855cd6;
    --background-color-1: #fbf6e2;
    --background-color-2: #fff;
    --border-color: #332a0d;
}

main {
    background-color: var(--background-color-1);
    height: 100%;
    position: relative;
}

main h1 {
    line-height: 120px;
    font-size: 60px;
    font-weight: 900;
    height: 120px;
    text-align: center;
    position: absolute;
    inset: 0;
    margin: auto;
}

main h1 .icon {
    display:inline;
    height: 120px;
    margin-right: 20px;
}

.logo .icon {
    height: 100%;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 160px;
}