@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&display=swap');

html,
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-optical-sizing: auto;
    font-size: 20px;
    color: var(--text-color);
    height: 100%;
    margin: 0;
    overflow-x: hidden;
}

:root {
    --text-color: #261f0a;
    --link-color: #4d97ff;
    --link-color-visited: #855cd6;
    --link-color-404: #c719af;
    --background-color-1: #fbf6e2;
    --background-color-2: #fff;
    --button-color-1: #fff1bc;
    --button-color-2: #ffea9e;
    --search-result-1: #fff1bc;
    --border-color: #332a0d;
}

body {
    background-color: var(--background-color-1);
}

main {
    margin-right: auto;
    margin-left: auto;
    width: 70vw;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-bottom: 100px;
}

h1 {
    padding-top: 40px;
    padding-bottom: 0px;
    font-size: 60px;
    font-weight: 600;
    text-align: center;
}

#head h2 {
    padding-top: 10px;
    padding-bottom: 40px;
    font-size: 30px;
    font-weight: 450;
    text-align: center;
}

#head h2::before,#head h2::after {
    content: "-";
}

#search_area {
    display: flex;
    flex-direction: row;
}

#search_text_box {
    background-color: #fff;
    height: 60px;
    padding: 0 16px;
    flex-grow: 1;
    border-radius: 15px;
}

#search_text_box:focus {
    outline: #ffeeb0 solid 2px;
}

#search_button {
    background-color: var(--button-color-2);
    height: 60px;
    margin-left: 20px;
    width: 120px;
    border-radius: 15px;
    line-height: 60px;
    text-align: center;
    user-select: none;
}

#search_button:hover {
    background-color: var(--button-color-1);
}

.content {
    background-color: var(--search-result-1);
    margin: 20px 0;
    padding: 20px;
    border-radius: 15px;
    user-select: none;
    position: relative;
}

.content>a {
    position: absolute;
    left: 0;
    top:  0;
    width: 100%;
    height: 100%;
}

.content h2 {
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content h3 {
    font-weight: 450;
    font-size: 16px;
    margin-bottom: 4px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.content .tag_area {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.content .tag {
    background-color: #fffc;
    font-size: 16px;
    border-radius: 5px;
    padding: 4px;
    margin: 2px 4px 2px 0;
    z-index: 1;
}

.content .tag:hover {
    background-color: #eeec;
}