@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&display=swap');

html,
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-optical-sizing: auto;
}

:root {
    --text1: #333;
    --link1: #4d97ff;
    --link2: #855cd6;
    --link3: #c719af;
    --bg1: #fff5cf;
    --bg2: #fff;
    --inline-code-bg: #eff3f8;
    --border-color: #332a0d;
}

.article h2,
article h2 {
    font-weight: 500;
}

.article h3,
article h3 {
    font-weight: 500;
}