@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Noto+Serif+JP&display=swap');

html,
body {
    font-family: "Noto Sans JP", sans-serif;
    font-weight: 450;
    font-style: normal;
    font-optical-sizing: auto;
}

:root {
    --text-color: #261f0a;
    --link-color: #4d97ff;
    --link-color-visited: #855cd6;
    --link-color-404: #c719af;
    --background-color-1: #fbf6e2;
    --background-color-2: #fff;
    --inline-code-bg: #eff3f8;
    --border-color: #332a0d;
}

article h2 {
    font-weight: 500;
}

article h3 {
    font-weight: 500;
}