@font-face {
	font-family: "UT JP";
	src: url("/assets/JF-Dot-Shinonome16.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "UT JP";
	src: url("/assets/JF-Dot-Shinonome16B.woff2") format("woff2");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "UT EN";
	src: url("/assets/determination.woff2") format("woff2");
	font-weight: normal;
	font-style: normal;
}

.link {
	color: var(--link1);
}

.root {
	color: #fff;
	background-color: #333;
	font-family: "UT JP", sans-serif;
	font-optical-sizing: auto;
}

.article {
	background-color: #222;
	border: 1px solid #111;
}

#root {
	font-family: "UT JP", sans-serif;
	background-color: var(--bg1);
	color: #fff;
	font-optical-sizing: auto;
	overflow-x: hidden;
	background-color: #333;
	--thumbnail1: #333;
	--thumbnail2: #222;
}

#main {
	margin-left: var(--root_margin_rl);
	margin-right: var(--root_margin_rl);
	min-height: 100vh;
}
