.tag {
	font-size: 18px;
	line-height: 32px;
	height: 32px;
	border-radius: 5px;
	user-select: none;
	outline: 1px solid var(--border1);
}

.tag > a {
	padding: 0 15px;
}

.view {
	background-color: var(--bg2);
	height: 21px;
	border-radius: 5px;
	border: 1px solid var(--border1);
	padding: 25px 35px 45px 35px;
	min-height: calc(100vh - 160px);
}

.main {
	display: flex;
	flex-direction: row;
    flex-wrap: wrap;
	gap: 10px;
}

.title {
	font-size: 30px;
	font-weight: 600;
	margin-bottom: 20px;
}